* {
    margin: 0;
    padding: 0;
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

a,
p {
  color: black;
}

main {
  display: flex;
  justify-content: center;
}

.gap-main-border {
  padding: 50px;
}

.main-border {
  justify-content: center;
  border: 2px solid #000000;
  margin: 40px;
  width: auto;
  max-width: 1022px;
}

.top-menu {
  justify-content: space-between;
  margin: auto;
  display: flex;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 50px;
  padding: 5px;
  padding-bottom: 0px;
}

.top-menu, 
.top-menu-right, 
.top-menu-left {
  display : flex;
  margin-bottom: 0px;
}

.top-menu-right, 
.top-menu-left {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.top-menu-right {
  width: 20%;
}

.top-menu-left {
  width: 80%;
  justify-content: space-between;
}

.top-menu-content {
  display: flex;
}

select#currency {
  height: 33px;
  border: 2px solid #000000;
}

.button {
  border: 2px solid #000000;
  justify-content : center;
  padding : 5px;
  background-color: transparent;
  height: 20px;
  margin-left: 0px;
  margin-right: 5px;
  object-position: bottom;
}
  
.bar {
  display: flex;
  margin: 10px;
}

.border {
  border: 2px solid #000000;
}

.flex {
  display: flex;
}

.gap-1 {
  margin: 10px;
}

.gap-2 {
  margin: 20px;
}

.pagination {
  margin: auto;
  margin-bottom: 10px;
}

.page-number {
  width: fit-content;
  padding: 0px;
  margin: auto;
  margin-right: 5px;
}

.page-number span {
  margin-right: 5px;
}

.page.current {
  border-bottom: 0.5px solid #000000;
}

h1.title {
  margin: auto;
  margin-left: 0;
  padding: 10px;
}
 
.left-bar {
  width: 20%;
  border-style: solid;
}

.widget-left-bar {
  margin: auto;
  padding: 10px;
}
  
.widget-left-bar > ul > li {
  margin-right: auto;
  display: block;
  width: 100%;
}
  
.right-bar {
  width: 80%;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

.hide {
  display: none;
}

li.border {
  width: auto;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 0.5px solid #000000;
  border-bottom: 0.5px solid #000000;
  padding: 0.5em;
  padding-bottom: 2em;
  margin: 0;
}

.text-product {
  font-size: medium;
  max-width: 180px;
}

.product-single__logo {
	width: 200px;
  height: 117px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.minicart {
  position: absolute;
  width: 400px;
  background-color: #ffffff;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: auto;
  border: 2px solid #000000;
}

.minicart-title {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.minicart-product-list {
  height: auto;
  width: auto;
}

.minicart-product {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.minicart-product-image {
  width: fit-content;
}

.minicart-product-description {
  display: flex;
  justify-content: space-between;
}

.minicart-product-title {
  width: 50%;
}

.minicart-note {
  margin: 10px;
}

.minicart-detail {
  position: absolute;
  top: auto;
  bottom: 0px;
}

.minicart-detail-total {
  border-top: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 40px;
}

.sub-left-bar,
.sub-right-bar {
  width: 50%;
}

.sub-left-bar {
  border-right: 1px solid #000000;
}

#ProductPhotoImg {
  width:360px;
  margin: auto;
}

#SubProductPhotoImg {
  width: 100px;
}

.sub-right-bar {
  border-left: 1px solid #000000;
}

.product-option {
  display: flex;
  flex-wrap: wrap;
}

.product-variant {
  margin: 5px 5px 0px 5px;
  padding: 10px 20px;
  border: 1px solid #000000;
}

.product-variant:hover {
  color: #ffffff;
  background-color: #000000;
}

button#AddToCart {
  margin-top: 20px;
  border: 2px solid #000000;
  padding: 7px 30px 7px 30px;
  background-color: white;
}