* {
    margin: 0;
    padding: 0;
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

a,
p {
  color: black;
}

main {
  display: flex;
  margin: 80px;
  justify-content: center;
}

.main-border {
  justify-content: center;
  border: 2px solid #000000;
  margin: 40px;
  width: auto;
  max-width: 1125px;
}

.top-menu {
  justify-content: space-between;
  margin: auto;
  display: flex;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 50px;
  padding: 5px;
  padding-bottom: 0px;
}

.top-menu, 
.top-menu-right, 
.top-menu-left {
  display : flex;
  margin-bottom: 0px;
}

.top-menu-right, 
.top-menu-left {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

select#currency {
  height: 33px;
  border: 2px solid #000000;
}

.button {
  border: 2px solid #000000;
  justify-content : center;
  padding : 5px;
  background-color: transparent;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  object-position: bottom;
}
  
.bar {
  display: flex;
  margin: 10px;
}

.border {
  border: 2px solid #000000;
}

.flex {
  display: flex;
}

.pagination {
  margin: auto;
  margin-bottom: 10px;
}

.page-number {
  width: fit-content;
  padding: 0px;
  margin: auto;
  margin-right: 5px;
}

.page-number span {
  margin-right: 5px;
}

.page.current {
  border-bottom: 0.5px solid #000000;
}

h1.title {
  margin: auto;
  margin-left: 0;
  padding: 10px;
}
 
.left-bar {
  width: 20%;
  border-style: solid;
}

.widget-left-bar {
  margin: auto;
  padding: 10px;
}
  
.widget-left-bar > ul > li {
  margin-right: auto;
  display: block;
  width: 100%;
}
  
.right-bar {
  width: 80%;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

li.border {
  width: auto;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 0.5px solid #000000;
  border-bottom: 0.5px solid #000000;
  padding: 0.5em;
  padding-bottom: 2em;
  margin: 0;
}

.text-product {
  font-size: medium;
  max-width: 200px;
}



.sub-left-bar,
.sub-right-bar {
  width: 50%;
}

.sub-right-bar {
  border-left: 1px solid #000000;
}

.sub-left-bar {
  border-right: 1px solid #000000;
}

#ProductPhotoImg {
  width: 400px;
  margin: auto;
}

#SubProductPhotoImg {
  width: 130px;
}